.chikyuu_sentai {
  .split_1_of_5 {
    clip-path: polygon(0 0, 20% 0, 21% 100%, 0 100%);
  }
  .split_2_of_5 {
    clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%);
  }
  .split_3_of_5 {
    clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);
  }
  .split_4_of_5 {
    clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%);
  }
  .split_5_of_5 {
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
  }
}

.banner_black_mirror {
  background-color: black;
  .logo {
    -webkit-box-reflect: below -20px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
  }
  .card {
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(0deg);
  }
  .card2 {
    transform: perspective(800px) rotateY(-30deg);
  }
  .card3 {
    transform: perspective(800px) rotateY(30deg);
  }
}

.square_holo {
  background-color: black;

  .mainCard,
  .wrapper,
  .speck,
  .prints,
  .card,
  .logo {
    position: absolute;
    height: 45%;
    width: 80%;
    top: 12%;
    left: 3%;
    transform: perspective(600px) rotateY(-15deg);
    -webkit-box-reflect: below 2%
      linear-gradient(transparent, transparent, #0004);
  }
  .mainCard {
    background-color: #ffff00;
    background-image: linear-gradient(62deg, #ffff00 0%, #fbab7e 100%);
    border: 4px solid rgb(120, 109, 8);
    border-radius: 2%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;

    height: 51%;
    width: 86%;
    top: 9%;
    left: 0%;
    transform: perspective(600px) rotateY(-15deg);
  }
  .wrapper {
    background-color: #ff0;
    background-image: linear-gradient(90deg, #ff0 0%, #fc00ff 100%);
    border: 4px solid rgb(122, 5, 5);
    -webkit-box-reflect: below 16%
      linear-gradient(transparent, transparent, #0004);
  }
  .speck {
    mix-blend-mode: color-dodge;
    opacity: 0.9;

    background-image: url('../../public/images/galaxy.png'),
      url('../../public/images/galaxy.png'),
      url('../../public/images/galaxy.png'),
      repeating-linear-gradient(
        82deg,
        rgb(218, 56, 50) calc(80px * 1),
        rgb(219, 204, 86) calc(80px * 2),
        rgb(121, 199, 58) calc(80px * 3),
        rgb(58, 192, 183) calc(80px * 4),
        rgb(71, 98, 207) calc(80px * 5),
        rgb(170, 69, 209) calc(80px * 6),
        rgb(218, 56, 50) calc(80px * 10)
      ),
      radial-gradient(
        farthest-corner circle at 50% 50%,
        rgba(255, 255, 255, 0.6) 5%,
        rgba(150, 150, 150, 0.3) 40%,
        rgb(0, 0, 0) 100%
      );

    background-blend-mode: color-dodge, color-burn, saturation, screen;
    background-position: center, center, center,
      calc(((50% - 50%) * 2.5) + 50%) calc(((50% - 50%) * 2.5) + 50%), center;
    background-size: cover, cover, cover, 600% 1200%, cover;
    -webkit-box-reflect: below 16%
      linear-gradient(transparent, transparent, #0004);
  }

  .prints {
    background-image: url('../../public/images/illusion.webp'),
      repeating-linear-gradient(
        0deg,
        rgb(255, 119, 115) calc(5% * 1),
        rgba(255, 237, 95, 1) calc(5% * 2),
        rgba(168, 255, 95, 1) calc(5% * 3),
        rgba(131, 255, 247, 1) calc(5% * 4),
        rgba(120, 148, 255, 1) calc(5% * 5),
        rgb(216, 117, 255) calc(5% * 6),
        rgb(255, 119, 115) calc(5% * 7)
      ),
      repeating-linear-gradient(
        133deg,
        #0e152e 0%,
        hsl(180, 10%, 60%) 3.8%,
        hsl(180, 29%, 66%) 4.5%,
        hsl(180, 10%, 60%) 5.2%,
        #0e152e 10%,
        #0e152e 12%
      ),
      radial-gradient(
        farthest-corner circle at 50% 50%,
        rgba(0, 0, 0, 0.1) 12%,
        rgba(0, 0, 0, 0.15) 20%,
        rgba(0, 0, 0, 0.25) 120%
      );

    background-blend-mode: exclusion, hue, hard-light;
    opacity: 5%;
    background-size: 50%, 200% 700%, 300%, 200%;
    background-position: center, 0% 50%, 50% 50%, 50% 50%;
    filter: brightness(calc((0 * 0.25) + 0.66)) contrast(2) saturate(0.95);
    -webkit-box-reflect: below 16%
      linear-gradient(transparent, transparent, #0004);
  }

  .card {
    mix-blend-mode: overlay;
    transform: perspective(600px) rotateY(-15deg);
    -webkit-box-reflect: below 16%
      linear-gradient(transparent, transparent, #0004);
  }

  .logo {
    height: 6%;
    width: auto;
    top: 12%;
    left: 60%;
    z-index: 3;
    mix-blend-mode: lighten;
    transform: perspective(1000px) rotateZ(-6deg);
    -webkit-box-reflect: unset;
  }
}
