.banner_1 {
  .first {
    position: absolute;
    left: 37.4%;
    height: 60%;
    top: 1.2%;
    clip-path: polygon(9.5% 21%, 92.1% 21%, 92.1% 81%, 9.5% 81%);
  }

  .second {
    position: absolute;
    left: 34.5%;
    height: 40.5%;
    top: 58.8%;
    clip-path: polygon(25.7% 10%, 83.8% 10%, 83.8% 81%, 25.7% 81%);
  }

  .third {
    position: absolute;
    left: 46%;
    height: 40.5%;
    top: 58.8%;
    clip-path: polygon(25.7% 10%, 83.8% 10%, 83.8% 81%, 25.7% 81%);
  }

  .fourth {
    position: absolute;
    left: 59%;
    height: 88.5%;
    top: 6.5%;
    clip-path: polygon(28.4% 10.9%, 90.4% 10.9%, 90.4% 89%, 28% 89%);
  }
}
.banner_3 {
  .second {
    left: 67.8%;
  }
}
.banner_4 {
  .nft1 {
    height: 24.7%;
    left: 8.2%;
    top: 25%;
  }
  .nft2 {
    height: 24.7%;
    left: 18.8%;
    top: 25%;
  }
  .nft3 {
    height: 24.7%;
    left: 29.4%;
    top: 25%;
  }
  .nft4 {
    height: 24.7%;
    left: 39.9%;
    top: 25%;
  }
  .nft5 {
    height: 24.7%;
    left: 50.3%;
    top: 25%;
  }
  .nft6 {
    height: 24.7%;
    left: 60.9%;
    top: 25%;
  }
  .nft7 {
    height: 24.7%;
    left: 71.5%;
    top: 25%;
  }
  .nft8 {
    height: 24.7%;
    left: 82%;
    top: 25%;
  }
  .nft9 {
    height: 24.7%;
    left: 8.2%;
    top: 54.5%;
  }
  .nft10 {
    height: 24.7%;
    left: 18.8%;
    top: 54.5%;
  }
  .nft11 {
    height: 24.7%;
    left: 29.4%;
    top: 54.5%;
  }
  .nft12 {
    height: 24.7%;
    left: 39.9%;
    top: 54.5%;
  }
  .nft13 {
    height: 24.7%;
    left: 50.3%;
    top: 54.5%;
  }
  .nft14 {
    height: 24.7%;
    left: 60.9%;
    top: 54.5%;
  }
  .nft15 {
    height: 24.7%;
    left: 71.5%;
    top: 54.5%;
  }
  .nft16 {
    height: 24.7%;
    left: 82%;
    top: 54.5%;
  }
}
.banner_5 {
  .first {
    height: 66%;
    top: 3%;
    left: 0.3%;
    clip-path: polygon(28.4% 8%, 91.4% 8%, 91.4% 91.5%, 28% 91.5%);
  }
  .second {
    height: 37.3%;
    top: 30%;
    left: 41.9%;
    clip-path: polygon(28.4% 8%, 91.4% 8%, 91.4% 91.5%, 28% 91.5%);
  }
  .third {
    height: 66%;
    top: 3%;
    left: 72.8%;
    clip-path: polygon(28.4% 8%, 91.4% 8%, 91.4% 91.5%, 28% 91.5%);
  }
}
