@import './shared/core';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
  letter-spacing: 3px;
  overflow-x: hidden;
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

a {
  color: rgb(34 121 228);
  text-decoration: none;

  &:hover {
    color: rgb(24, 87, 163);
  }
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(29, 28, 28);
    background-color: #fa8bff;
    background-image: linear-gradient(
      45deg,
      #fa8bff 0%,
      #2bd2ff 52%,
      #2bff88 90%
    );
  }
}
