.customBackgroundWrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;

  .colorButton {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid rgb(113, 112, 112);

    &:hover {
      border: 3px solid rgb(162, 161, 161);
      cursor: pointer;
    }

    .colorSelector {
      z-index: 10;
      padding: 8px 8px 16px 8px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      background-color: rgb(73, 70, 70);
      position: absolute;
      top: 30px;
      right: 0;

      &.hide {
        display: none;
      }

      .hexWrapper {
        text-align: center;
        margin: 15px;
        color: white;

        input {
          margin-left: 10px;
          width: 130px;
          font-size: 1em;
          text-align: center;
          font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
          letter-spacing: 3px;
        }

        .uploadButton {
          margin-right: 8px;
          width: 25px;
          height: 25px;
          font-size: 1em;
          padding: 3px;
          border-radius: 3px;
          color: rgb(73, 70, 70);

          &:hover {
            color: rgb(36, 35, 35);
            cursor: pointer;
          }

          .buttonLabel {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
