@import '../styles/shared/core';

.nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(42, 48, 54);
  color: whitesmoke;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;

  a {
    font-family: 'Khula';
    color: whitesmoke;
    font-size: 1.7em;
    padding: 10px 20px;

    &:hover,
    &.active {
      color: whitesmoke;
      background-color: #28d7f2;
    }
  }
}
