@import '../styles/shared/core';

.nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(42, 48, 54);
  color: whitesmoke;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;

  h1 {
    background: -webkit-linear-gradient(#ff0, #c850c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    white-space: nowrap;
    @include break-point(small) {
      font-size: 1.5em;
      margin-top: 16px;
    }
  }

  a {
    font-family: 'Bebas Neue', 'Verdana';
    color: whitesmoke;
    font-size: 1em;
    padding: 20px;

    &:hover,
    &.active {
      color: whitesmoke;
      background-color: #0093e9;
      background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    }
  }
}
