@import '../styles/shared/core';

.downloadsWrapper {
  margin: 20px 0;
  text-align: center;

  .itemsWrapper {
    width: 100vw;
    text-align: center;
  }
  .itemWrapper {
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 100%;
    margin: 10px 30px;

    @include break-point(small) {
      margin: 10px 10px;
    }

    img {
      min-width: 220px;
      max-width: inherit;
      max-height: 290px;
      box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    }

    .buttonWrapper {
      position: absolute;
      top: 10px;
      right: 10px;

      button:first-child {
        margin-right: 10px;
      }

      button {
        width: auto;
        font-size: 0.8em;
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
          0 6px 20px 0 rgb(0 0 0 / 19%) !important;
      }
    }
  }
}
