@import './mixins';

.banner-wrapper {
  position: relative;
  width: 100%;

  &::after {
    overflow: hidden;
    position: absolute;
    content: '';
    background-color: greenyellow;
    border: solid 4px black;
    border-radius: 50%;
  }

  &.twitter {
    bottom: -20%;
    padding-top: 33.3333%;
    margin-bottom: 15%;
    overflow: hidden;

    &::after {
      width: 20%;
      padding-top: 20%;
      border-radius: 50%;
      bottom: -33%;
      left: 3%;
      right: auto;

      @include break-point(small) {
        padding-top: 0;
        width: 133px;
        height: 133px;
        border-radius: 50%;
        bottom: -70px;
        left: 2%;
        right: auto;
      }
    }
  }

  &.opensea {
    bottom: -20%;
    padding-top: 25%;
    margin-bottom: 10%;

    @include break-point(small) {
      margin-bottom: 5%;
    }

    &::after {
      width: 82px;
      height: 82px;
      border-radius: 50%;
      bottom: -42px;
      left: 2%;
      right: auto;

      @include break-point(small) {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        bottom: -28px;
        left: 2%;
        right: auto;
      }
    }
  }

  &.facebook {
    padding-top: 33.3333%;
    margin-bottom: 120px;

    @include break-point(medium) {
      margin-bottom: 180px;
    }

    &::after {
      width: 160px;
      height: 160px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -92px;

      @include break-point(medium) {
        width: 168px;
        height: 168px;
        bottom: -150px;
        left: 3%;
        right: auto;
      }
    }
  }
}

.banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    height: auto;
    max-width: 100%;
    max-height: 100%;

    &:hover {
      cursor: pointer;
      border: solid 4px blue;
    }
  }

  .absolute {
    position: absolute;
  }
}

.rounded {
  border-radius: 50%;
}

.height {
  @for $i from 1 through 150 {
    @include add-percent-height($i);
  }
}

.left {
  @for $i from -100 through 100 {
    @include add-left-pos($i);
  }
}

.right {
  @for $i from -100 through 100 {
    @include add-right-pos($i);
  }
}

.top {
  @for $i from -100 through 100 {
    @include add-top-pos($i);
  }
}

.bottom {
  @for $i from -100 through 100 {
    @include add-bottom-pos($i);
  }
}
