@import './mixins';

.banner-wrapper {
  position: relative;
  width: 100%;

  &.printing {
    margin-left: -500% !important;
    width: 1500px !important;
    height: 375px !important;
    min-width: 1500px;
    min-height: 375px;
  }

  &::after {
    overflow: hidden;
    position: absolute;
    content: '';
    background-color: greenyellow;
    border: solid 4px black;
    border-radius: 50%;
  }

  &.twitter {
    bottom: -20%;
    padding-top: 33.3333%;
    margin-bottom: 15%;

    &::after {
      width: 20%;
      padding-top: 20%;
      border-radius: 50%;
      bottom: -33%;
      left: 3%;
      right: auto;

      @include break-point(small) {
        padding-top: 0;
        width: 133px;
        height: 133px;
        border-radius: 50%;
        bottom: -70px;
        left: 2%;
        right: auto;
      }
    }
  }

  &.opensea {
    bottom: -20%;
    padding-top: 25%;
    margin-bottom: 10%;

    @include break-point(small) {
      margin-bottom: 5%;
    }

    &::after {
      width: 82px;
      height: 82px;
      border-radius: 50%;
      bottom: -42px;
      left: 2%;
      right: auto;

      @include break-point(small) {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        bottom: -28px;
        left: 2%;
        right: auto;
      }
    }
  }

  &.facebook {
    padding-top: 33.3333%;
    margin-bottom: 120px;

    @include break-point(medium) {
      margin-bottom: 180px;
    }

    &::after {
      width: 160px;
      height: 160px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -92px;

      @include break-point(medium) {
        width: 168px;
        height: 168px;
        bottom: -150px;
        left: 3%;
        right: auto;
      }
    }
  }
}
.nft {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: solid 4px transparent;

    &:hover {
      cursor: pointer;
      border: solid 4px lime;
    }
  }

  .absolute {
    position: absolute;
  }
}

.rounded {
  border-radius: 50%;
}

.button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #252827, #262b29);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  @include break-point(small) {
    width: auto;
  }
  z-index: 9;
  border: 0;

  em {
    font-style: normal;
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-right: 8px;
  }

  &.success {
    background-image: linear-gradient(-180deg, #00d775, #00bd68);
  }
  &.danger {
    background-image: linear-gradient(-180deg, #d70056, #bd005b);
  }

  &:hover {
    background: #282a29;

    &.success {
      background: #00bd68;
    }

    &.danger {
      background: #bd005b;
    }
  }
}

.icon-button {
  &:hover {
    color: #00bd68;
    cursor: pointer;
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.height {
  @for $i from 1 through 150 {
    @include add-percent-height($i);
  }
}

.left {
  @for $i from -100 through 100 {
    @include add-left-pos($i);
  }
}

.right {
  @for $i from -100 through 100 {
    @include add-right-pos($i);
  }
}

.top {
  @for $i from -100 through 100 {
    @include add-top-pos($i);
  }
}

.bottom {
  @for $i from -100 through 100 {
    @include add-bottom-pos($i);
  }
}
