.bg-sj-thinrays-blend {
  background-color: #fdedd8;
}
.bg-grad-1 {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}
.bg-wfnh {
  background-image: url('../../public/images/wfnh.png');
}
