// GENERICS
.bg-sj-thinrays-blend {
  background-color: #fdedd8;
}
.bg-grad-1 {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

// COIW IMAGES
.bg-coiw-banner-1 {
  background-image: url('../../public/backdrops/coiw_banner_1.png');
}
.bg-coiw-banner-2 {
  background-image: url('../../public/backdrops/coiw_banner_2.png');
}
.bg-coiw-banner-3 {
  background-image: url('../../public/backdrops/coiw_banner_3.png');
}
.bg-coiw-banner-4 {
  background-image: url('../../public/backdrops/coiw_banner_4.png');
}
.bg-coiw-banner-5 {
  background-image: url('../../public/backdrops/coiw_banner_5.png');
}
.bg-coiw-banner-6 {
  background-image: url('../../public/backdrops/coiw_banner_6.png');
}

// WFNH BACKDROPS
.bg-wfnh-banner-1 {
  background-image: url('../../public/backdrops/wf_banner_1.png');
}
.bg-wfnh-banner-2 {
  background-image: url('../../public/backdrops/wf_banner_2.png');
}
.bg-wfnh-banner-3 {
  background-image: url('../../public/backdrops/wf_banner_3.png');
}
.bg-wfnh-banner-4 {
  background-image: url('../../public/backdrops/wf_banner_4.png');
}
.bg-wfnh-banner-5 {
  background-image: url('../../public/backdrops/wf_banner_5.png');
}
.bg-wfnh-banner-6 {
  background-image: url('../../public/backdrops/wf_banner_6.png');
}
