.main-wrapper {
  position: relative;
  width: 100%;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;

  &::after {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    overflow: hidden;
    position: absolute;
    content: '';
    background-color: white;
    border: solid 4px black;
    opacity: 0.3;
    border-radius: 50%;
  }

  @include break-point(small) {
    margin-bottom: 10px !important;
  }

  // Sizes
  &.twitter-banner {
    bottom: -20%;
    padding-top: 33.3333%;
    margin-bottom: 15%;

    // &::after {
    //   width: 20%;
    //   padding-top: 20%;
    //   border-radius: 50%;
    //   bottom: -33%;
    //   left: 3%;
    //   right: auto;

    //   @include break-point(small) {
    //     padding-top: 0;
    //     width: 133px;
    //     height: 133px;
    //     border-radius: 50%;
    //     bottom: -70px;
    //     left: 2%;
    //     right: auto;
    //   }
    // }
  }

  &.opensea-banner {
    bottom: -20%;
    padding-top: 25%;
    margin-bottom: 57px;

    // &::after {
    //   width: 82px;
    //   height: 82px;
    //   border-radius: 50%;
    //   bottom: -42px;
    //   left: 2%;
    //   right: auto;

    //   @include break-point(small) {
    //     width: 108px;
    //     height: 108px;
    //     border-radius: 50%;
    //     bottom: -28px;
    //     left: 2%;
    //     right: auto;
    //   }
    // }
  }

  &.facebook-banner {
    bottom: -20%;
    padding-top: 33.3333%;
    margin-bottom: 15%;

    // &::after {
    //   width: 160px;
    //   height: 160px;
    //   margin-left: auto;
    //   margin-right: auto;
    //   left: 0;
    //   right: 0;
    //   bottom: -92px;

    //   @include break-point(medium) {
    //     width: 168px;
    //     height: 168px;
    //     bottom: -150px;
    //     left: 3%;
    //     right: auto;
    //   }
    // }
  }

  &.square {
    padding-top: 100%;
    margin-bottom: 25px;

    &::after {
      display: none;
    }
  }

  &.pillar {
    padding-top: 160%;
    margin-bottom: 25px;

    &::after {
      display: none;
    }
  }

  &.tower {
    padding-top: 200%;
    margin-bottom: 25px;

    &::after {
      display: none;
    }
  }
}

.printing {
  margin-left: -500% !important;
  width: 1500px !important;
  min-width: 1500px;
  min-height: 375px;

  &.tower_on_print,
  &.pillar_on_print,
  &.square_on_print {
    width: 1000px !important;
    min-width: 1000px;
    max-width: 1000px;
  }

  .no-print {
    display: none;
  }

  #capture {
    &.square {
      max-height: 1000px;
    }
  }
}

.nft {
  position: absolute;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  &:hover {
    cursor: pointer;
  }

  &.sticker {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  }
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.triangle-bottom-right {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.triangle-bottom-left {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.triangle-top-right {
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}
.triangle-top-left {
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
.trapezoid {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.point-right {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.point-left {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.point-cave-right {
  clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%);
}
.point-cave-left {
  clip-path: polygon(100% 0, 0 0, 25% 50%, 0 100%, 100% 100%);
}
.parallelogram-right {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.parallelogram-left {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
}
.rhombus {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.pentagon {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hexagon-2 {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.hexagon-3 {
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}
.heptagon {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}
.octagon {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
.blevel {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
.arrow-left {
  clip-path: polygon(25% 0%, 100% 0, 75% 100%, 25% 100%, 0% 50%);
}
.arrow-right {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.chevron-left {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.chevron-right {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.message-bubble {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.circle {
  clip-path: circle(50% at 50% 50%);
}
.half-left {
  clip-path: inset(0 50% 0 0);
}
.half-right {
  clip-path: inset(0 0 0 50%);
}
