.split_1_of_2 {
  overflow: hidden;
  border-radius: 50%;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.split_2_of_2 {
  overflow: hidden;
  border-radius: 50%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.sj_chikyuu_sentai {
  .split_1_of_5 {
    clip-path: polygon(0 0, 20% 0, 21% 100%, 0 100%);
  }
  .split_2_of_5 {
    clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%);
  }
  .split_3_of_5 {
    clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);
  }
  .split_4_of_5 {
    clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%);
  }
  .split_5_of_5 {
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
  }
}
