.split_1_of_2 {
  overflow: hidden;
  border-radius: 50%;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.split_2_of_2 {
  overflow: hidden;
  border-radius: 50%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
